<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>
        {% block title %}
            Évaluation Compétence Symfony
        {% endblock %}
    </title>
    {% block style %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_default_index') }}"><i class="fas fa-home"></i> {{ 'Accueil'|trans }}</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form class="form-inline my-2 my-lg-0" method="POST" action="{{ path('app_default_search') }}">
                    <input class="form-control mr-sm-2" type="text" name="name" placeholder="{{ 'Le nom de la série'|trans }}">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-md-0">

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="" id="dropdown09"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ app.user.username }}
                    {% else %}
                        {{ 'Compte'|trans }}
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown09">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="dropdown-item" href="{{ path('app_user_profile', {'id': app.user.id}) }}">
                            <i class="fas fa-cog"></i> {{ 'Profil'|trans }}</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="dropdown-item" href="{{ path('app_serie_addseriefromapi') }}"><i class="fas fa-plus"></i> {{ 'Ajouter une série'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('easyadmin') }}"><i class="fas fa-cogs"></i> {{ 'Administration'|trans }}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_user_logout') }}">
                            <i class="fas fa-sign-out-alt"></i> {{ 'Se déconnecter'|trans }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('app_user_login') }}">
                            <i class="fas fa-sign-in-alt"></i> {{ 'Se connecter'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('app_user_register') }}">
                            <i class="fas fa-user-plus"></i> {{ 'Créer un compte'|trans }}</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="text-center">
                <span class="alert alert-{{ label }}">{{ message }}</span>
                <br><br>
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}
        <h1 class="text-center">{{ 'Bienvenue'|trans }} !</h1>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h5 class="text-center">{{ 'Les séries les plus consultées'|trans }}</h5>
                <br>
                {{ render(controller('AppBundle:Serie:mostWatched', {'limit': 5})) }}
            </div>
            <div class="col-md-4">
                <h5 class="text-center">{{ 'Les derniers messages'|trans }}</h5>
                <br>
                {{ render(controller('AppBundle:Discussion:lastMessages', {'limit': 5})) }}
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endblock %}
    <footer class="text-center text-secondary">
        <hr>
        <ul class="list-inline" style="margin-bottom: 0.2rem;">
            <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">{{ 'Nous contacter'|trans }}</a></li>
            <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">{{ 'Mentions légales'|trans }}</a></li>
            <li class="list-inline-item"><a class="text-secondary btn btn-sm" href="#">{{ 'Plante du site'|trans }}</a></li>
        </ul>
        <ul class="list-inline" style="margin-bottom: 0.2rem;">
            <li class="list-inline-item"><a class="text-secondary btn" href="#">
                    <i class="fab fa-facebook-square fa-lg"></i></a></li>
            <li class="list-inline-item"><a class="text-secondary btn" href="#">
                    <i class="fab fa-instagram fa-lg"></i></a></li>
            <li class="list-inline-item"><a class="text-secondary btn" href="#">
                    <i class="fab fa-snapchat fa-lg"></i></a></li>
            <li class="list-inline-item"><a class="text-secondary btn" href="#">
                    <i class="fab fa-twitter fa-lg"></i></a></li>
        </ul>
        <div>
            <p><small>&copy; {{ "now"|date("Y") }} - Gwendal</small></p>
        </div>
    </footer>
</div>
</body>

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}
</html>