{% extends 'default/layout.html.twig' %}

{% block title %}
    {{ name }} {{ 'non trouvée'|trans }}
{% endblock %}

{% block body %}
    <h2 class="text-center">{{ 'Nous n\'avons pas pu trouver la série'|trans }} {{ name }}</h2>
    <br>
    <p>
        {{ 'Vérifiez que vous avez respecté l\'orthographe de la série que vous recherchez.
        Sinon, c\'est que la série n\'existe pas encore dans notre base de donnée'|trans }} !
    </p>
{% endblock %}
