{% extends 'default/layout.html.twig' %}

{% block title %}
    {{ 'Édition du message'|trans }}
{% endblock %}

{% block body %}
    <h1 class="text-center">{{ 'Édition du message'|trans }}</h1>
    <br>
    {{ form(form) }}
{% endblock %}
