<div class="list-group text-center">
    {% for message in messages %}
        <a class="list-group-item" href="{{ path('app_serie_episode',
            {'name': message.episode.serie.name, 'season': message.episode.season, 'number': message.episode.number}) }}">
            {{ message.content }}
        </a>
    {% endfor %}
</div>