{% if messages is not empty %}
    {% for message in messages %}
        <span>#{{ loop.index }}</span>
        <small>
            {{ 'Posté par'|trans }} <i class="fa fa-user" aria-hidden="true"></i>
            {{ message.user.username }} {{ 'le'|trans }} {{ message.date|date('d/m/Y') }} {{ 'à'|trans }} {{ message.date|date('H:i:s') }}
        </small>
        {% if message.user == app.user or is_granted('ROLE_ADMIN') %}
        <span>&nbsp;</span>
        <a href="{{ path('app_discussion_editmessage', {'id': message.id}) }}"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
        <span>&nbsp;</span>
        <a href="{{ path('app_discussion_deletemessage', {'id': message.id}) }}"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
        {% endif %}
        <br><br>
        <div>{{ message.content }}</div>
        <hr>
    {% endfor %}
{% else %}
    <p class="text-center">{{ 'Il n\'y a aucun message dans cette discussion'|trans }}</p>
{% endif %}
