{% extends 'default/layout.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="well">
                <form class="text-center" action="{{ path('app_user_login') }}" method="post">
                    <fieldset>
                        <legend>{{ 'Connexion'|trans }}</legend>
                        <div class="form-group">
                            <label for="username">{{ 'Nom d\'utilisateur'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'Mot de passe'|trans }}</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <label for="remember_me">{{ 'Se rappeler de moi'|trans }}</label>
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <br>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}