{% extends 'default/layout.html.twig' %}

{% block body %}
    <h1 class="text-center">{{ user.username }} - {{ 'Profil'|trans }}</h1>

    <a class="btn btn-light btn-block" href="{{ path('app_user_edit', {'id': app.user.id}) }}">
        <i class="fas fa-edit"></i> {{ 'Éditer vos informations'|trans }}</a>
    <a class="btn btn-light btn-block" href="{{ path('app_user_editpassword', {'id': app.user.id}) }}">
        <i class="fas fa-key"></i> {{ 'Changer votre mot de passe'|trans }}</a>

{% endblock %}