{% extends 'default/layout.html.twig' %}

{% block body %}
    <h2>{{ 'Ajouter une série via l\'API BetaSeries'|trans }}</h2>
    <br>
    <form method="POST">
        <div class="form-group">
            <label for="name">{{ 'Le nom de la série à ajouter'|trans }}</label>
            <input class="form-control" id="name" type="text" name="name">
        </div>
        <input type="submit">
    </form>
{% endblock %}