{% extends 'default/layout.html.twig' %}

{% block title %}
    {{ 'Épisode'|trans }} {{ episode.number }} {{ 'saison'|trans }} {{ episode.season }} - {{ serie.name }}
{% endblock %}

{% block body %}

    <h2 class="text-center">{{ 'Saison'|trans }} {{ episode.season }} {{ 'Épisode'|trans }} {{ episode.number }} - {{ serie.name }}</h2>
    <hr>
    <h3 class="text-center">{{ 'Synopsys de l\'épisode'|trans }} :</h3>
    <br>
    <h3 class="text-center">{{ episode.title }}</h3>
    <br>
    <div>{{ episode.synopsys }}</div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">{{ 'Discussion'|trans }} :</h4>
            <br>
            {{ render(controller('AppBundle:Discussion:displayMessages', {'id': episode.id})) }}
        </div>
    </div>
    <br>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row">
            <div class="col-md-12">
                {{ render(controller('AppBundle:Discussion:postMessage', {'request': app.request, 'id': episode.id})) }}
            </div>
        </div>
    {% endif %}

    <hr>

    {% if countEpisodes is defined %}
        {% if episode.number == 1 %}
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_serie_episode', {'name': serie.name, 'season': episode.season, 'number': episode.number + 1}) }}">
                        {{ 'Épisode suivant'|trans }} <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        {% elseif episode.number == countEpisodes %}
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_serie_episode', {'name': serie.name, 'season': episode.season, 'number': episode.number - 1}) }}">
                        <i class="fa fa-caret-left" aria-hidden="true"></i> {{ 'Épisode précédant'|trans }}
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_serie_episode', {'name': serie.name, 'season': episode.season, 'number': episode.number - 1}) }}">
                        <i class="fa fa-caret-left" aria-hidden="true"></i> {{ 'Épisode précédant'|trans }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_serie_episode', {'name': serie.name, 'season': episode.season, 'number': episode.number + 1}) }}">
                        {{ 'Épisode suivant'|trans }} <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        {% endif %}
    {% endif %}

    <hr>
    <a href="{{  path('app_serie_season', {'name': serie.name, 'season': episode.season }) }}">
        <i class="fa fa-caret-left" aria-hidden="true"></i> {{ 'Retour vers la saison'|trans }} {{ episode.season }}
    </a>
{% endblock %}
