<div class="list-group text-center">
    {% for serie in series %}
            <a class="list-group-item" href="{{ path('app_serie_serie',{'name': serie.name}) }}">{{ serie.name }}</a>
    {% endfor %}
</div>