{% extends 'default/layout.html.twig' %}

{% block title %}
    {{ 'Saison'|trans }} {{ season }} - {{ serie.name }}
{% endblock %}

{% block body %}

    <h2 class="text-center">{{ 'Saison'|trans }} {{ season }} {{ 'de'|trans }} {{ serie.name }}</h2>
    <hr>
    <img class="serie_img" src="{{ vich_uploader_asset(serie, 'imageFile') }}" />
    <hr>
    <h3 class="text-center">{{ 'Liens vers les épisodes'|trans }} :</h3>
    <br>
    <ul class="list-group text-center">
        {% for episode in episodes %}
            <li class="list-group-item">
                <a href="{{ path('app_serie_episode',
                    {'name': serie.name, 'season': season, 'number': episode.number}) }}">
                    {{ 'Saison'|trans }} {{ season }} {{ 'épisode'|trans }} {{ episode.number }} - {{ episode.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <a href="{{ path('app_serie_serie', {'name': serie.name }) }}">
        <i class="fa fa-caret-left" aria-hidden="true"></i> {{ 'Retour vers'|trans }} {{ serie.name }}
    </a>
{% endblock %}
