{% extends 'default/layout.html.twig' %}

{% block title %}
    {{ serie.name }}
{% endblock %}

{% block body %}

    <h1 class="text-center">{{ serie.name }}
    </h1>
    <hr>
    <img class="serie_img" src="{{ vich_uploader_asset(serie, 'imageFile') }}" />
    <hr>
    <h2 class="text-center">{{ 'Synopsys'|trans }}</h2>
    <div>{{ serie.synopsys }}</div>
    <hr>
    {% if serie.nbSeasons > 1 %}
        <p>{{ 'Liens vers les saisons'|trans }} :</p>
    {% else %}
        <p>{{ 'Lien vers la saison'|trans }} : </p>
    {% endif %}

    <ul class="pagination">
        {% for season in seasons %}
            <li class="page-item">
                <a class="page-link" href="{{ path('app_serie_season', {'name': serie.name, 'season': season}) }}">
                    S. {{ season }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}