<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ item.id }}" data-featherlight-close-on-click="anywhere">
    <img src="{{ vich_uploader_asset(item, 'imageFile') }}">
</a>

<div id="easyadmin-lightbox-{{ item.id }}" class="easyadmin-lightbox">
    <img src="{{ vich_uploader_asset(item, 'imageFile') }}">
</div>